<br>
<div class="row container-sm">
    <h1> {{pageHeader}}  </h1>
</div>

<br>

<form #addBatchForm="ngForm">
  
    <div class="row">
     
            <div class="col-sm">
            
                <div class="form-group">
                    <label for="batchName">Batch Name</label><small> *</small>
                    <input [(ngModel)]="batch.batchName" name="batchName" #batchName="ngModel" id="batchName" type="text"
                        class="form-control" required>
                    <div class="alert float-right text-danger">
                        <small [class.d-none]="batchName.valid || batchName.untouched">Required *</small>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="batchType">Batch Type</label> <small> *</small>
                    <select [(ngModel)]="batch.batchType" #batchType="ngModel" name="batchType" id="batchType"
                        class="selectpicker form-control" required>
                        <option selected></option>
                        <option *ngFor = "let b of batchTypes"> {{ b }}</option>                    
                    </select>
                    <div class="alert float-right text-danger">
                        <small [class.d-none]="batchType.valid || batchType.untouched">Required *</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="batchFaculty">Faculty</label> <small> *</small>
                    <select [(ngModel)]="batch.batchFaculty" #batchFaculty="ngModel" name="batchFaculty" id="batchFaculty"
                        class="selectpicker form-control" required>
                        <option selected></option>
                        <option *ngFor = "let b of faculties"> {{ b.firstName }}</option>                    
                    </select>
                    <div class="alert float-right text-danger">
                        <small [class.d-none]="batchFaculty.valid || batchFaculty.untouched">Required *</small>
                    </div>
                </div>

              


        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="batchDays">Batch Days</label><small> *</small>
                <select [(ngModel)]="batch.batchDays" #batchDays="ngModel" name="batchDays" id="batchDays"
                class="selectpicker form-control" multiple required>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                </select>
            </div>


            <div class="form-group">
                <label for="batchTime">Batch Time (in IST) </label><small> *</small>
                <select [(ngModel)]="batch.batchTime" #batchTime="ngModel" name="batchTime" id="batchTime"
                class="selectpicker form-control" required>
                    <option *ngFor = "let number of [0,1,2,3,4,5,6,7,8,9,10,11]"> {{ number }} AM </option>                    
                    <option *ngFor = "let number of [12,1,2,3,4,5,6,7,8,9,10,11]"> {{ number }} PM </option>                    
                </select>
            </div>

        </div>

        <div class="col-sm">
            
            <div class="form-group">
                <label for="batchStartDate">Start Date</label><small> *</small>
                <input [(ngModel)]="batch.batchStartDate" name="batchStartDate" #batchStartDate="ngModel" id="batchStartDate" type="date" placeholder="MM/DD/YYYY"
                    class="form-control" required>
                <div class="alert float-right text-danger">
                    <small [class.d-none]="batchStartDate.valid || batchStartDate.untouched">Required *</small>
                </div>
            </div>

            <div class="form-group">
                <label for="batchStatus">Status </label><small> *</small>
                <select [(ngModel)]="batch.batchStatus" #batchStatus="ngModel" name="batchStatus" id="batchStatus"
                class="selectpicker form-control" required>
                    <option selected>Active</option>
                    <option>Hold</option>
                    <option>Completed</option>
                </select>
            </div>

        </div>
    </div>

    <div class="row">
      
        <div class="col">
            <div class="form-group">
                <label for="Clear"></label>
                <button id="clear" class="form-control button btn-danger" (click)="addBatchForm.reset({})"> Clear </button>
                <!-- <button id="clear" class="form-control button btn-danger" (click)="addBatchForm.reset({}); routeToAdd()"> Clear </button> -->
            </div>    
        </div>
       
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col">
            <div class="form-group">
                <small *ngIf="addBatchForm.form.invalid"> Please fill all the mandatory data</small>

                <label for="submit"></label>
                <button [disabled]="addBatchForm.form.invalid " id="submit" class="form-control button btn-primary" (click)="addBatch();addBatchForm.reset({});navigateToAddBatch" > Submit </button>
            </div>    
        </div>
    </div>


</form>
