<div class="container-sm">
    <div class="row">

        <div class="col-sm">
            <!-- <form> -->
            <br>
            <div class="mb-3">
                <label for="name" class="form-label" aria-describedby="name">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" value="" required>
            </div>

            <div class="mb-3">
                <label for="gname" class="form-label">Gaurdian's Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="gname">
            </div>

            <div class="mb-3">
                <label for="mobilenum" class="form-label">Mobile No.</label>
                <input type="text" class="form-control" id="mobilenum" aria-describedby="mobilenum">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="email">
            </div>

        </div>

        <div class="col-sm">
            <br>

            <div class="mb-3">
                <label for="occu" class="form-label" aria-describedby="occu">Occupation</label>
                <select class="selectpicker form-control col-sm" id="occu" aria-describedby="occu"
                    data-style='btn-outline-primary'>>

                    <option selected>Choose...</option>
                    <option class="form-control">Working</option>
                    <option>Student</option>
                    <option>Housewife</option>
                    <option>Others</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="occu" class="form-label" aria-describedby="days">Preferred days</label>
                <select class="selectpicker form-control col-sm" id="days" aria-describedby="occu"
                    data-style='btn-outline-primary' multiple>

                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>

                </select>
            </div>


        </div>


        <div class="col-sm">
            <br>

            <div class="mb-3">
                <label for="occu" class="form-label" aria-describedby="occu">Arts intrested in...</label>
                <select class="selectpicker form-control col-sm" id="occu" aria-describedby="occu"
                    data-style='btn-outline-primary' multiple>

                    <option>Vocal</option>
                    <option>Flute</option>
                    <option>Violin</option>
                    <option>Mridangam</option>
                    <option>Veena</option>
                    <option>Tabla</option>
                    <option>Bharathanatyam</option>
                    <option>Kuchipudi</option>

                </select>
            </div>

            <div class="mb-3">
                <label for="occu" class="form-label" aria-describedby="days">Preferred days</label>
                <select class="selectpicker form-control col-sm" id="days" aria-describedby="occu"
                    data-style='btn-outline-primary' multiple>

                    <option>Mornings</option>
                    <option>Evenings</option>

                </select>
            </div>

        </div>


        <div class="col-sm">

            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comments</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
            </div>

            <br><br><br>

        </div>

    </div>
    <br>
    <br>
    <div class="container row">
        <div class="col-sm mb-3">
            <input value="Clear" type="button" class="btn btn-danger " id="exampleCheck1">
        </div>

        <div class="mb-3 float-right">
            <input value="Submit" type="button" class="btn btn-primary" id="exampleCheck2">
        </div>
    </div>
</div>