<br>
<div class="container">
    <h1>Welcome to Tution Management System</h1>
    <div class="container">
        <h2>Overview</h2>
        <div class="container">
            <h4> Tution Management System (TMS) is admin/front-office portal which helps to manage any tutorial institutes with their day to day operations. For ex:  Managing enquires, students data, fee payment, staff info, paying salaries, reports, reminders etc ! </h4>
        </div>
        <h2>Modules</h2>
        <div class="container">
            <h3>Students</h3>
            <div class="container">
                <h4> As a TMS user, you can add students, edit students, collect fee from students, map students to the batches etc </h4>    
            </div>
            <h3>Employees</h3>
            <div class="container">
                <h4> As a TMS user, you can add employees, edit employees, pay salart to employees etc. Employess are of three types 1. Faculty 2. Admin 3. Management. When you select Faculty it will pops you up with more data, for ex: his skillset </h4>    
            </div>
            <h3>Batches</h3>
            <div class="container">
                <h4> As a TMS user, you can add batches, edit batches and map the batches to faculties </h4>    
            </div>
            <h3>Reports</h3>
            <div class="container">
                <h4> As a TMS user, you can see lot of reports, which will help you to manage activites. For ex: Fee Dues, Faculty vs Student Ratio etc </h4>    
            </div>
        </div>
        <h2>Help</h2>
        <div class="container">
            <h4> For more details, please refer to help section, which have few videos demostrating the same </h4>    
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
