h2 {
    color : rgb(70, 59, 161);
}

.adm-fee {
    margin-left: 4 !important;
}

.mat-tab-labels, .mat-tab-label, .mat-tab-link {
    color: rgb(72, 116, 124);
    font-size: 16px;
    /* background-color: #5b8f8c; */
  }
  