<div class="container-sm">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <!-- <form> -->
            <div class="mb-3">
                <br>
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" value="{{username}}" [(ngModel)]="username"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"><small>We'll never share your email with anyone else.</small></div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" value="{{password}}" [(ngModel)]="password">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck2">Remember me</label><br><br>
                <input value="Submit" type="button" class="btn btn-outline-primary" id="exampleCheck2" (keyup.enter)="handleLogin()" (click)=handleLogin()>
                &nbsp;&nbsp;
                <span class="alert alert-danger" *ngIf='invalidLogin'>{{errorMessage}} </span>
            </div>

            <!-- </form> -->
        </div>
        <div class="col-sm">
        </div>

    </div>
</div>